AI Agents - Learning/Product Management Multi-Agent.json
{
  "name": "Product Management Multi-Agent",
  "nodes": [
    {
      "parameters": {
        "pollTimes": {
          "item": [
            {
              "mode": "everyMinute"
            }
          ]
        },
        "documentId": {
          "__rl": true,
          "value": "1B7KIZ_Ou5VbbOAXXwY52tGDkDvO84fgaIkGzBOw9Wlo",
          "mode": "list",
          "cachedResultName": "Mike AI Agent - Ideation and Product Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B7KIZ_Ou5VbbOAXXwY52tGDkDvO84fgaIkGzBOw9Wlo/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Input Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1B7KIZ_Ou5VbbOAXXwY52tGDkDvO84fgaIkGzBOw9Wlo/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheetsTrigger",
      "typeVersion": 1,
      "position": [
        -1024,
        48
      ],
      "id": "2fb4d961-82ef-43ae-be67-d5c9a08cf9f8",
      "name": "Google Sheets Trigger",
      "credentials": {
        "googleSheetsTriggerOAuth2Api": {
          "id": "zraqPkNRqxCjZlAT",
          "name": "Google Sheets Trigger account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -720,
        256
      ],
      "id": "2cd767f4-de1c-48be-b880-f025cb6581ec",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "uQZooaRhJMrVLEzv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -160,
        256
      ],
      "id": "f8c26436-d11c-45c4-94cf-9f46f950d886",
      "name": "Google Gemini Chat Model1",
      "credentials": {
        "googlePalmApi": {
          "id": "uQZooaRhJMrVLEzv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Market Research Agent with expertise in competitive analysis, market sizing, and trend identification across various industries.\n\nCONTEXT:\n- Product Idea: {{$json.ideationResult.refined_idea}}\n- Target Audience: {{$json.targetAudience}}\n- Key Features: {{$json.ideationResult.key_features}}\n- Value Proposition: {{$json.ideationResult.value_proposition}}\n- Business Context: {{$json.businessContext}}\n\nYOUR EXPERTISE:\nYou have deep knowledge of market dynamics, competitive landscapes, consumer behavior, and emerging trends. You provide data-driven insights that inform strategic decisions.\n\nANALYSIS FRAMEWORK:\n1. MARKET SIZE: Estimate the Total Addressable Market (TAM) and Serviceable Available Market (SAM)\n2. COMPETITIVE LANDSCAPE: Identify direct and indirect competitors with their strengths/weaknesses\n3. TREND ANALYSIS: Highlight relevant market trends, technological shifts, and consumer behavior changes\n4. OPPORTUNITY ASSESSMENT: Evaluate market gaps and white space opportunities\n5. RISK EVALUATION: Identify potential market, competitive, and regulatory risks\n6. MARKET TIMING: Assess whether market conditions are favorable for entry\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"market_size\": \"Detailed market size estimation with TAM/SAM breakdown\",\n    \"market_growth_rate\": \"Expected annual growth rate with rationale\",\n    \"competitors\": [\n        {\n            \"name\": \"Competitor 1\",\n            \"strength\": \"Key competitive advantage\",\n            \"weakness\": \"Main vulnerability\",\n            \"market_share\": \"Estimated market position\"\n        },\n        {\n            \"name\": \"Competitor 2\",\n            \"strength\": \"Key competitive advantage\",\n            \"weakness\": \"Main vulnerability\",\n            \"market_share\": \"Estimated market position\"\n        }\n    ],\n    \"market_trends\": [\"Trend 1 with impact assessment\", \"Trend 2 with impact assessment\", \"Trend 3 with impact assessment\"],\n    \"opportunities\": [\"Market gap 1\", \"Market gap 2\", \"Emerging opportunity\"],\n    \"risks\": [\"Risk 1 with likelihood\", \"Risk 2 with likelihood\"],\n    \"attractiveness_score\": 8,\n    \"market_timing\": \"Assessment of entry timing (Excellent/Good/Fair/Poor)\",\n    \"market_summary\": \"Comprehensive 2-3 sentence market analysis summary\",\n    \"strategic_recommendations\": [\"Market entry strategy 1\", \"Market entry strategy 2\"]\n}\n\nIMPORTANT: Provide realistic, research-backed assessments. Use a 1-10 scale for attractiveness_score where 10 is extremely attractive. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -16,
        48
      ],
      "id": "d31c49c6-d631-4faa-a18c-42215eff2640",
      "name": "Market Research"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Strategic Prioritization Agent specializing in product portfolio management and ROI optimization using industry-standard frameworks.\n\nCONTEXT:\n- Product Idea: {{$json.ideationResult.refined_idea}}\n- Key Features: {{$json.ideationResult.key_features}}\n- Market Analysis: {{$json.marketResult.market_summary}}\n- Market Attractiveness: {{$json.marketResult.attractiveness_score}}/10\n- Business Context: {{$json.businessContext}}\n- Constraints: {{$json.constraints}}\n- Timeline Preference: {{$json.timelinePreference}}\n- Competitive Risks: {{$json.marketResult.risks}}\n\nYOUR EXPERTISE:\nYou apply proven prioritization frameworks (RICE, ICE, Value vs Effort, MoSCoW) to evaluate product opportunities. You balance quantitative metrics with strategic considerations.\n\nSCORING CRITERIA (Rate each 1-10 where 10 is best):\n1. BUSINESS VALUE: Revenue potential, strategic alignment, market size impact\n2. USER IMPACT: User satisfaction gain, problem significance, user base size affected\n3. EFFORT REQUIRED: Development complexity, resource requirements, time investment (10 = low effort, 1 = high effort)\n4. RISK LEVEL: Technical feasibility, market acceptance, execution risks (10 = low risk, 1 = high risk)\n5. MARKET TIMING: Market readiness, competitive window, trend alignment\n6. STRATEGIC FIT: Alignment with business goals, platform synergies, brand consistency\n\nCALCULATION: Priority Score = (Business Value + User Impact + Market Timing + Strategic Fit) - (Effort Required + Risk Level)\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"business_value\": 8,\n    \"user_impact\": 7,\n    \"effort_required\": 6,\n    \"risk_level\": 4,\n    \"market_timing\": 8,\n    \"strategic_fit\": 7,\n    \"calculated_score\": 20,\n    \"priority_tier\": \"High\",\n    \"confidence_level\": \"Medium\",\n    \"ice_score\": {\n        \"impact\": 8,\n        \"confidence\": 7,\n        \"ease\": 6\n    },\n    \"recommendation\": \"Proceed/Hold/Reject\",\n    \"justification\": \"2-3 sentence explanation of the scoring rationale and key factors\",\n    \"success_probability\": 75,\n    \"roi_estimate\": \"Expected return on investment assessment\",\n    \"critical_success_factors\": [\"Factor 1\", \"Factor 2\", \"Factor 3\"]\n}\n\nPRIORITY TIERS:\n- High (Score 15+): Immediate execution recommended\n- Medium (Score 8-14): Consider for next planning cycle\n- Low (Score <8): Revisit when constraints change\n\nIMPORTANT: Be objective and realistic. Consider the stated constraints heavily in your scoring. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        544,
        48
      ],
      "id": "55af4533-b5fc-44d1-8ae8-39419eed0e73",
      "name": "Prioritization Agent"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        416,
        256
      ],
      "id": "0dc98c0f-8c5c-457a-a715-6a9084880ef2",
      "name": "Google Gemini Chat Model2",
      "credentials": {
        "googlePalmApi": {
          "id": "uQZooaRhJMrVLEzv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        976,
        256
      ],
      "id": "53f28fa7-ede0-4b88-a53a-789bf966bc12",
      "name": "Google Gemini Chat Model3",
      "credentials": {
        "googlePalmApi": {
          "id": "uQZooaRhJMrVLEzv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Senior Product Roadmap Agent specializing in agile product development, feature prioritization, and strategic execution planning.\n\nCONTEXT:\n- Product Idea: {{$json.ideationResult.refined_idea}}\n- Key Features: {{$json.ideationResult.key_features}}\n- Priority Score: {{$json.priorityResult.calculated_score}} ({{$json.priorityResult.priority_tier}} Priority)\n- Effort Assessment: {{$json.priorityResult.effort_required}}/10\n- Risk Level: {{$json.priorityResult.risk_level}}/10\n- Timeline Preference: {{$json.timelinePreference}}\n- Business Constraints: {{$json.constraints}}\n- Market Timing: {{$json.priorityResult.market_timing}}/10\n- Success Factors: {{$json.priorityResult.critical_success_factors}}\n\nYOUR EXPERTISE:\nYou excel at breaking down complex products into executable phases, identifying dependencies, and creating realistic timelines. You apply lean startup principles and agile methodologies.\n\nROADMAP FRAMEWORK:\n1. MVP (Minimum Viable Product): Core features that validate the concept and deliver immediate value\n2. Phase 2 (Growth): Features that scale usage and improve user experience\n3. Phase 3 (Scale): Advanced features for market leadership and expansion\n4. Consider technical debt, user feedback cycles, and market response\n\nTIMELINE CONSIDERATIONS:\n- Account for development complexity, team capacity, and market windows\n- Include buffer time for testing, iterations, and unforeseen challenges\n- Balance speed-to-market with quality and user experience\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"mvp_features\": [\"Core feature 1\", \"Core feature 2\", \"Essential feature 3\"],\n    \"mvp_timeline\": \"2-3 months\",\n    \"mvp_success_metrics\": [\"Metric 1 with target\", \"Metric 2 with target\"],\n    \"phase2_features\": [\"Growth feature 1\", \"Enhancement 2\", \"Integration 3\"],\n    \"phase2_timeline\": \"4-6 months from start\",\n    \"phase2_success_metrics\": [\"Scale metric 1\", \"Engagement metric 2\"],\n    \"phase3_features\": [\"Advanced feature 1\", \"Platform expansion 2\"],\n    \"phase3_timeline\": \"8-12 months from start\",\n    \"phase3_success_metrics\": [\"Market metric 1\", \"Revenue metric 2\"],\n    \"dependencies\": [\n        {\n            \"prerequisite\": \"Feature A\",\n            \"dependent\": \"Feature B\",\n            \"reason\": \"Technical dependency explanation\"\n        }\n    ],\n    \"critical_path\": [\"MVP Feature 1 → Phase 2 Feature 1 → Phase 3 Feature 1\"],\n    \"parallel_development\": [\"Features that can be built simultaneously\"],\n    \"team_requirements\": {\n        \"mvp_phase\": [\"Role 1\", \"Role 2\", \"Skill requirement\"],\n        \"scaling_phase\": [\"Additional role 1\", \"Specialized skill 2\"]\n    },\n    \"risk_mitigation_plan\": [\n        {\n            \"risk\": \"Technical risk description\",\n            \"mitigation\": \"Specific action to reduce risk\",\n            \"timeline_impact\": \"Potential delay assessment\"\n        }\n    ],\n    \"resource_allocation\": {\n        \"development_effort\": \"% breakdown by phase\",\n        \"design_effort\": \"% breakdown by phase\",\n        \"testing_effort\": \"% breakdown by phase\"\n    },\n    \"go_to_market_timeline\": [\"Pre-launch activities\", \"Launch activities\", \"Post-launch activities\"],\n    \"iteration_plan\": \"Strategy for incorporating user feedback and market learnings\"\n}\n\nIMPORTANT: Be realistic about timelines and account for the stated constraints. Ensure MVP is truly minimal but viable. Respond ONLY with the JSON object.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1104,
        48
      ],
      "id": "326353fe-6cb1-42eb-8700-b303c7133913",
      "name": "Roadmap agent"
    },
    {
      "parameters": {
        "jsCode": "// Validate required fields\nconst requiredFields = ['idea_description', 'business_context'];\nconst inputData = items[0].json;\n\nfor (const field of requiredFields) {\n    if (!inputData[field] || inputData[field].trim() === '') {\n        throw new Error(`Missing required field: ${field}`);\n    }\n}\n\n// Clean and structure data\nconst processedInput = {\n    ideaDescription: inputData.idea_description.trim(),\n    businessContext: inputData.business_context.trim(),\n    targetAudience: inputData.target_audience || 'General users',\n    constraints: inputData.constraints || 'No specific constraints',\n    timelinePreference: inputData.timeline_preference || '3-6 months'\n};\n\nreturn [{ json: processedInput }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -784,
        48
      ],
      "id": "0976d96f-a31f-4874-b1c2-47dce49447c2",
      "name": "Input Validation Node"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a Product Ideation Agent specializing in refining and expanding product concepts for successful market entry.\n\nCONTEXT:\n- Original Idea: {{$json.ideaDescription}}\n- Business Context: {{$json.businessContext}}\n- Target Audience: {{$json.targetAudience}}\n- Constraints: {{$json.constraints}}\n- Timeline: {{$json.timelinePreference}}\n\nYOUR EXPERTISE:\nYou excel at transforming rough ideas into clear, actionable product concepts. You understand market dynamics, user psychology, and product-market fit principles.\n\nTASKS:\n1. REFINE the original idea for maximum clarity, feasibility, and market appeal\n2. GENERATE 2-3 strategic alternative variations that address the same core need\n3. IDENTIFY the fundamental user problems and pain points being solved\n4. SUGGEST 4-6 key features that deliver core value (prioritize MVP essentials)\n5. ARTICULATE the unique value proposition that differentiates from competitors\n6. ASSESS the idea's innovation potential and market disruption opportunity\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"refined_idea\": \"A clear, compelling product description in 2-3 sentences\",\n    \"alternatives\": [\"Alternative approach 1\", \"Alternative approach 2\", \"Alternative approach 3\"],\n    \"core_problems\": [\"Primary user pain point\", \"Secondary user pain point\", \"Business problem solved\"],\n    \"key_features\": [\"Essential feature 1\", \"Essential feature 2\", \"Essential feature 3\", \"Key differentiator feature\"],\n    \"value_proposition\": \"Single sentence explaining why users will choose this over alternatives\",\n    \"innovation_score\": 8,\n    \"feasibility_assessment\": \"Brief assessment of technical and business feasibility\"\n}\n\nIMPORTANT: Respond ONLY with the JSON object. No additional text or explanations outside the JSON structure.",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        48
      ],
      "id": "23588df8-f2cd-466b-bca3-84a8bf0a4c6d",
      "name": "Ideation"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse =\n\titems[0].json.output ||\n\titems[0].json.text ||\n\titems[0].json.response;\n\nif (typeof aiResponse !== 'string') {\n\tthrow new Error('AI response is not a string');\n}\n\n// ---------- helpers ----------\nfunction extractSection(label, text) {\n\tconst regex = new RegExp(\n\t\t`\"${label}\"\\\\s*:\\\\s*([\\\\s\\\\S]*?)(?=\\\\n\\\\s*\"\\\\w+\"\\\\s*:|$)`,\n\t\t'i'\n\t);\n\tconst match = text.match(regex);\n\treturn match ? match[1].trim() : '';\n}\n\nfunction normalizeToArray(text) {\n\tif (!text) return [];\n\n\treturn text\n\t\t.replace(/^[\\[\\]]/g, '')\n\t\t.split(/\\n|-•|\\*/g)\n\t\t.map(v => v.replace(/\"|,/g, '').trim())\n\t\t.filter(Boolean);\n}\n\nfunction normalizeToString(text) {\n\treturn text\n\t\t.replace(/^\"/, '')\n\t\t.replace(/\",?$/, '')\n\t\t.trim();\n}\n\n// ---------- extraction ----------\ntry {\n\tconst refinedIdeaRaw = extractSection('refined_idea', aiResponse);\n\tconst alternativesRaw = extractSection('alternatives', aiResponse);\n\tconst coreProblemsRaw = extractSection('core_problems', aiResponse);\n\tconst keyFeaturesRaw = extractSection('key_features', aiResponse);\n\tconst valuePropRaw = extractSection('value_proposition', aiResponse);\n\n\tconst ideationResult = {\n\t\trefined_idea: normalizeToString(refinedIdeaRaw),\n\t\talternatives: normalizeToArray(alternativesRaw),\n\t\tcore_problems: normalizeToArray(coreProblemsRaw),\n\t\tkey_features: normalizeToArray(keyFeaturesRaw),\n\t\tvalue_proposition: normalizeToString(valuePropRaw),\n\t};\n\n\t// Final validation\n\tif (!ideationResult.refined_idea) {\n\t\tthrow new Error('refined_idea could not be extracted');\n\t}\n\n\treturn [\n\t\t{\n\t\t\tjson: {\n\t\t\t\t...items[0].json,\n\t\t\t\tideationResult,\n\t\t\t},\n\t\t},\n\t];\n} catch (error) {\n\tconsole.error('Ideation parsing failed:', error);\n\tthrow new Error(`Failed to parse ideation agent response: ${error.message}`);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -224,
        48
      ],
      "id": "b9f98acb-1336-472b-b314-4239bb9480c6",
      "name": "Ideation Output"
    },
    {
      "parameters": {
        "jsCode": "const items = $input.all();\nconst updatedItems = items.map((item) => {\n  const ideationResult = $(\"Ideation Output\")\n    .all()\n    .find((node) => node?.json?.output === item?.json?.output)\n    ?.json?.ideationResult;\n  item.json.ideationResult = ideationResult;\n  return item;\n});\nreturn updatedItems;\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        336,
        48
      ],
      "id": "be66ddf5-621f-4487-961c-35c4dc99bc3e",
      "name": "Market research Output"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse =\n\titems[0].json.output ||\n\titems[0].json.text ||\n\titems[0].json.response;\n\ntry {\n\tlet priorityResult;\n\n\tif (typeof aiResponse === 'string') {\n\t\tlet cleanResponse = aiResponse\n\t\t\t.replace(/```json\\s*/gi, '')\n\t\t\t.replace(/```/g, '')\n\t\t\t// Remove trailing commas before } or ]\n\t\t\t.replace(/,\\s*([}\\]])/g, '$1')\n\t\t\t.trim();\n\n\t\tpriorityResult = JSON.parse(cleanResponse);\n\t} else {\n\t\tpriorityResult = aiResponse;\n\t}\n\n\t// Validate and normalize scores (1–10)\n\tconst scoreFields = [\n\t\t'business_value',\n\t\t'user_impact',\n\t\t'effort_required',\n\t\t'risk_level',\n\t\t'market_timing',\n\t\t'strategic_fit'\n\t];\n\n\tfor (const field of scoreFields) {\n\t\tif (\n\t\t\ttypeof priorityResult[field] !== 'number' ||\n\t\t\tpriorityResult[field] < 1 ||\n\t\t\tpriorityResult[field] > 10\n\t\t) {\n\t\t\tpriorityResult[field] = 5;\n\t\t}\n\t}\n\n\t// Recalculate priority score\n\tconst calculatedScore =\n\t\tpriorityResult.business_value +\n\t\tpriorityResult.user_impact +\n\t\tpriorityResult.market_timing +\n\t\tpriorityResult.strategic_fit -\n\t\t((10 - priorityResult.effort_required + 1) +\n\t\t (10 - priorityResult.risk_level + 1));\n\n\tpriorityResult.calculated_score = Math.round(calculatedScore);\n\n\t// Determine priority tier\n\tif (priorityResult.calculated_score >= 15) {\n\t\tpriorityResult.priority_tier = 'High';\n\t} else if (priorityResult.calculated_score >= 8) {\n\t\tpriorityResult.priority_tier = 'Medium';\n\t} else {\n\t\tpriorityResult.priority_tier = 'Low';\n\t}\n\n\t// Ensure arrays exist\n\tif (!Array.isArray(priorityResult.critical_success_factors)) {\n\t\tpriorityResult.critical_success_factors = [];\n\t}\n\n\t// Validate ICE score\n\tif (\n\t\t!priorityResult.ice_score ||\n\t\ttypeof priorityResult.ice_score !== 'object'\n\t) {\n\t\tpriorityResult.ice_score = {\n\t\t\timpact: priorityResult.user_impact,\n\t\t\tconfidence: 5,\n\t\t\tease: priorityResult.effort_required\n\t\t};\n\t}\n\n\treturn [\n\t\t{\n\t\t\tjson: {\n\t\t\t\t...items[0].json,\n\t\t\t\tpriorityResult\n\t\t\t}\n\t\t}\n\t];\n} catch (error) {\n\tconsole.error('Error parsing prioritization response:', error);\n\tthrow new Error(\n\t\t`Failed to parse prioritization agent response: ${error.message}`\n\t);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        896,
        48
      ],
      "id": "a88133a4-1db6-4810-9940-985ee1d77554",
      "name": "Prioritization output"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse =\n\titems[0].json.output ||\n\titems[0].json.text ||\n\titems[0].json.response;\n\ntry {\n\tlet roadmapResult;\n\n\tif (typeof aiResponse === 'string') {\n\t\tlet cleanResponse = aiResponse\n\t\t\t.replace(/```json\\s*/gi, '')\n\t\t\t.replace(/```/g, '')\n\t\t\t// Remove trailing commas before } or ]\n\t\t\t.replace(/,\\s*([}\\]])/g, '$1')\n\t\t\t.trim();\n\n\t\troadmapResult = JSON.parse(cleanResponse);\n\t} else {\n\t\troadmapResult = aiResponse;\n\t}\n\n\t// Required fields with defaults\n\tconst requiredFields = {\n\t\tmvp_features: [],\n\t\tmvp_timeline: '3 months',\n\t\tphase2_features: [],\n\t\tphase2_timeline: '6 months',\n\t\tphase3_features: [],\n\t\tphase3_timeline: '12 months',\n\t\tdependencies: [],\n\t\tteam_requirements: {},\n\t\tmvp_success_metrics: [],\n\t\tcritical_path: []\n\t};\n\n\tfor (const [field, defaultValue] of Object.entries(requiredFields)) {\n\t\tif (\n\t\t\troadmapResult[field] === undefined ||\n\t\t\troadmapResult[field] === null\n\t\t) {\n\t\t\troadmapResult[field] = defaultValue;\n\t\t}\n\t}\n\n\t// Ensure array fields\n\tconst arrayFields = [\n\t\t'mvp_features',\n\t\t'phase2_features',\n\t\t'phase3_features',\n\t\t'dependencies',\n\t\t'critical_path',\n\t\t'parallel_development',\n\t\t'mvp_success_metrics',\n\t\t'phase2_success_metrics',\n\t\t'phase3_success_metrics',\n\t\t'go_to_market_timeline'\n\t];\n\n\tfor (const field of arrayFields) {\n\t\tif (roadmapResult[field] && !Array.isArray(roadmapResult[field])) {\n\t\t\troadmapResult[field] = [];\n\t\t}\n\t}\n\n\t// Ensure nested objects\n\tif (\n\t\t!roadmapResult.team_requirements ||\n\t\ttypeof roadmapResult.team_requirements !== 'object'\n\t) {\n\t\troadmapResult.team_requirements = {\n\t\t\tmvp_phase: ['Product Manager', 'Frontend Developer', 'Backend Developer'],\n\t\t\tscaling_phase: ['UI/UX Designer', 'DevOps Engineer', 'QA Engineer']\n\t\t};\n\t}\n\n\tif (\n\t\t!roadmapResult.resource_allocation ||\n\t\ttypeof roadmapResult.resource_allocation !== 'object'\n\t) {\n\t\troadmapResult.resource_allocation = {\n\t\t\tdevelopment_effort: '60% MVP, 30% Phase 2, 10% Phase 3',\n\t\t\tdesign_effort: '40% MVP, 35% Phase 2, 25% Phase 3',\n\t\t\ttesting_effort: '50% MVP, 30% Phase 2, 20% Phase 3'\n\t\t};\n\t}\n\n\t// Summary\n\troadmapResult.roadmap_summary =\n\t\t`MVP (${roadmapResult.mvp_timeline}): ` +\n\t\t`${roadmapResult.mvp_features.length} features`;\n\n\treturn [\n\t\t{\n\t\t\tjson: {\n\t\t\t\t...items[0].json,\n\t\t\t\troadmapResult\n\t\t\t}\n\t\t}\n\t];\n} catch (error) {\n\tconsole.error('Error parsing roadmap response:', error);\n\tthrow new Error(\n\t\t`Failed to parse roadmap agent response: ${error.message}`\n\t);\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1456,
        48
      ],
      "id": "e67fab87-2ed4-4c80-aa1e-0ab66b34fa9e",
      "name": "Roadmap Agent Output"
    },
    {
      "parameters": {
        "modelName": "models/gemini-2.5-flash-lite",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        1536,
        256
      ],
      "id": "7514695c-fb59-4b6e-9461-f6263127a113",
      "name": "Google Gemini Chat Model4",
      "credentials": {
        "googlePalmApi": {
          "id": "uQZooaRhJMrVLEzv",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an Executive Summary Agent specializing in synthesizing complex product analysis into actionable business recommendations for stakeholders and decision-makers.\n\nCOMPREHENSIVE ANALYSIS DATA:\n- Refined Product Idea: {{$json.ideationResult.refined_idea}}\n- Value Proposition: {{$json.ideationResult.value_proposition}}\n- Market Attractiveness: {{$json.marketResult.attractiveness_score}}/10\n- Priority Score: {{$json.priorityResult.calculated_score}} ({{$json.priorityResult.priority_tier}} Priority)\n- Market Summary: {{$json.marketResult.market_summary}}\n- MVP Timeline: {{$json.roadmapResult.mvp_timeline}}\n- Key Risks: {{$json.marketResult.risks}}\n- Success Probability: {{$json.priorityResult.success_probability}}%\n- Recommendation: {{$json.priorityResult.recommendation}}\n- Business Context: {{$json.businessContext}}\n- Resource Requirements: {{$json.roadmapResult.team_requirements}}\n\nYOUR EXPERTISE:\nYou excel at distilling complex analysis into clear, actionable insights that drive executive decision-making. You balance optimism with realism and provide concrete next steps.\n\nEXECUTIVE COMMUNICATION PRINCIPLES:\n1. Lead with the recommendation and key insights\n2. Provide clear rationale backed by data\n3. Address risks proactively with mitigation strategies\n4. Focus on business impact and ROI\n5. Include specific, measurable next steps\n\nOUTPUT FORMAT (must be valid JSON):\n{\n    \"executive_summary\": \"Compelling 2-3 sentence summary highlighting the opportunity, recommendation, and expected outcome\",\n    \"key_insights\": [\n        \"Primary insight about market opportunity\",\n        \"Critical insight about competitive advantage\",\n        \"Important insight about execution feasibility\"\n    ],\n    \"recommendation\": \"Clear Go/No-Go recommendation with confidence level\",\n    \"business_case\": {\n        \"opportunity_size\": \"Market size and revenue potential assessment\",\n        \"competitive_advantage\": \"Key differentiators and defensibility\",\n        \"resource_investment\": \"Required investment in time, people, and budget\",\n        \"expected_roi\": \"Return on investment projection and timeline\"\n    },\n    \"immediate_next_steps\": [\n        \"Specific action item 1 with owner and timeline\",\n        \"Specific action item 2 with owner and timeline\",\n        \"Specific action item 3 with owner and timeline\"\n    ],\n    \"success_metrics\": [\n        \"Primary KPI with target and measurement method\",\n        \"Secondary KPI with target and measurement method\"\n    ],\n    \"risk_mitigation_plan\": [\n        {\n            \"risk\": \"Highest priority risk\",\n            \"impact\": \"High/Medium/Low\",\n            \"mitigation\": \"Specific mitigation strategy\",\n            \"owner\": \"Recommended responsible party\"\n        },\n        {\n            \"risk\": \"Secondary risk\",\n            \"impact\": \"High/Medium/Low\",\n            \"mitigation\": \"Specific mitigation strategy\",\n            \"owner\": \"Recommended responsible party\"\n        }\n    ],\n    \"decision_timeline\": \"Recommended timeframe for go/no-go decision\",\n    \"resource_requirements_summary\": \"High-level summary of team, budget, and time requirements\",\n    \"strategic_alignment\": \"Assessment of how this aligns with broader business strategy and goals\"\n}\n\nIMPORTANT: Be decisive and actionable. Avoid hedging language. Provide specific, measurable recommendations. Respond ONLY with the JSON object.\n",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1664,
        48
      ],
      "id": "77b706b4-758c-4543-b606-62e677c2dc1b",
      "name": "Output formating agent"
    },
    {
      "parameters": {
        "jsCode": "// Get the AI response\nconst aiResponse = items[0].json.output || items[0].json.text || items[0].json.response;\n\ntry {\n    // Parse the JSON response\n    let outputResult;\n    if (typeof aiResponse === 'string') {\n        const cleanResponse = aiResponse.replace(/```json\\n?|\\n?```/g, '').trim();\n        outputResult = JSON.parse(cleanResponse);\n    } else {\n        outputResult = aiResponse;\n    }\n\n    // Validate required fields with defaults\n    const requiredFields = {\n        'executive_summary': 'Analysis completed for product opportunity assessment.',\n        'recommendation': 'Further evaluation recommended.',\n        'key_insights': [],\n        'immediate_next_steps': [],\n        'success_metrics': [],\n        'decision_timeline': '2 weeks'\n    };\n\n    for (const [field, defaultValue] of Object.entries(requiredFields)) {\n        if (!outputResult[field]) {\n            outputResult[field] = defaultValue;\n        }\n    }\n\n    // Ensure nested objects exist\n    if (!outputResult.business_case || typeof outputResult.business_case !== 'object') {\n        outputResult.business_case = {\n            opportunity_size: 'Market opportunity assessment pending',\n            competitive_advantage: 'Competitive positioning to be determined',\n            resource_investment: 'Resource requirements analysis needed',\n            expected_roi: 'ROI projection to be calculated'\n        };\n    }\n\n    // Ensure arrays are properly formatted\n    const arrayFields = ['key_insights', 'immediate_next_steps', 'success_metrics', 'risk_mitigation_plan'];\n    for (const field of arrayFields) {\n        if (outputResult[field] && !Array.isArray(outputResult[field])) {\n            outputResult[field] = [];\n        }\n    }\n\n    // Validate risk mitigation plan structure\n    if (outputResult.risk_mitigation_plan && Array.isArray(outputResult.risk_mitigation_plan)) {\n        outputResult.risk_mitigation_plan = outputResult.risk_mitigation_plan.map(risk => {\n            if (typeof risk === 'string') {\n                return {\n                    risk: risk,\n                    impact: 'Medium',\n                    mitigation: 'Mitigation strategy to be defined',\n                    owner: 'Product team'\n                };\n            }\n            return risk;\n        });\n    }\n\n    return [{\n        json: {\n            ...items[0].json,\n            outputResult: outputResult\n        }\n    }];\n} catch (error) {\n    console.error('Error parsing output formatting response:', error);\n    throw new Error(`Failed to parse output formatting agent response: ${error.message}`);\n}\n\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2016,
        48
      ],
      "id": "81faba6e-c4c4-4c35-bf29-a632e8cc2574",
      "name": "Parse Output"
    },
    {
      "parameters": {
        "jsCode": "// Generate unique ID for this analysis session\nconst ideaId = `IDEA_${Date.now()}_${Math.random().toString(36).substr(2, 5)}`;\nconst analysisDate = new Date().toISOString().split('T')[0];\nconst analysisTime = new Date().toISOString().split('T')[1].split('.')[0];\n\n// Helper function to safely join arrays\nconst safeJoin = (arr, separator = '; ') => {\n  if (!arr || !Array.isArray(arr)) return '';\n  return arr.map(item =>\n    typeof item === 'object' ? JSON.stringify(item) : String(item)\n  ).join(separator);\n};\n\n// Helper function to extract nested object values\nconst extractNestedData = (obj, defaultValue = '') => {\n  if (!obj || typeof obj !== 'object') return defaultValue;\n  return Object.entries(obj)\n    .map(([key, value]) => `${key}: ${value}`)\n    .join('; ');\n};\n\n// Compile comprehensive results for Google Sheets\nconst finalOutput = {\n  // Primary Identifiers\n  idea_id: ideaId,\n  analysis_date: analysisDate,\n  analysis_time: analysisTime,\n\n  // Core Product Information\n  original_idea: $json.ideaDescription || '',\n  refined_idea: $json.ideationResult?.refined_idea || '',\n  value_proposition: $json.ideationResult?.value_proposition || '',\n  target_audience: $json.targetAudience || '',\n  business_context: $json.businessContext || '',\n\n  // Ideation Results\n  alternative_ideas: safeJoin($json.ideationResult?.alternatives),\n  core_problems: safeJoin($json.ideationResult?.core_problems),\n  key_features: safeJoin($json.ideationResult?.key_features),\n  innovation_score: $json.ideationResult?.innovation_score || 0,\n\n  // Market Analysis\n  market_summary: $json.marketResult?.market_summary || '',\n  market_size: $json.marketResult?.market_size || '',\n  market_attractiveness_score: $json.marketResult?.attractiveness_score || 0,\n  market_growth_rate: $json.marketResult?.market_growth_rate || '',\n  market_timing: $json.marketResult?.market_timing || '',\n  competitors: safeJoin($json.marketResult?.competitors?.map(c => `${c.name} (${c.strength})`)),\n  market_trends: safeJoin($json.marketResult?.market_trends),\n  market_opportunities: safeJoin($json.marketResult?.opportunities),\n  market_risks: safeJoin($json.marketResult?.risks),\n\n  // Prioritization Results\n  priority_score: $json.priorityResult?.calculated_score || 0,\n  priority_tier: $json.priorityResult?.priority_tier || 'Medium',\n  business_value_score: $json.priorityResult?.business_value || 0,\n  user_impact_score: $json.priorityResult?.user_impact || 0,\n  effort_required_score: $json.priorityResult?.effort_required || 0,\n  risk_level_score: $json.priorityResult?.risk_level || 0,\n  market_timing_score: $json.priorityResult?.market_timing || 0,\n  strategic_fit_score: $json.priorityResult?.strategic_fit || 0,\n  success_probability: $json.priorityResult?.success_probability || 0,\n  recommendation: $json.priorityResult?.recommendation || 'Review',\n  ice_impact: $json.priorityResult?.ice_score?.impact || 0,\n  ice_confidence: $json.priorityResult?.ice_score?.confidence || 0,\n  ice_ease: $json.priorityResult?.ice_score?.ease || 0,\n\n  // Roadmap Information\n  mvp_features: safeJoin($json.roadmapResult?.mvp_features),\n  mvp_timeline: $json.roadmapResult?.mvp_timeline || '',\n  phase2_features: safeJoin($json.roadmapResult?.phase2_features),\n  phase2_timeline: $json.roadmapResult?.phase2_timeline || '',\n  phase3_features: safeJoin($json.roadmapResult?.phase3_features),\n  phase3_timeline: $json.roadmapResult?.phase3_timeline || '',\n  dependencies: safeJoin($json.roadmapResult?.dependencies?.map(d => `${d.prerequisite} → ${d.dependent}`)),\n  critical_path: safeJoin($json.roadmapResult?.critical_path),\n  mvp_success_metrics: safeJoin($json.roadmapResult?.mvp_success_metrics),\n  team_requirements_mvp: safeJoin($json.roadmapResult?.team_requirements?.mvp_phase),\n  team_requirements_scale: safeJoin($json.roadmapResult?.team_requirements?.scaling_phase),\n  resource_allocation: extractNestedData($json.roadmapResult?.resource_allocation),\n\n  // Executive Summary & Output\n  executive_summary: $json.outputResult?.executive_summary || '',\n  final_recommendation: $json.outputResult?.recommendation || '',\n  key_insights: safeJoin($json.outputResult?.key_insights),\n  immediate_next_steps: safeJoin($json.outputResult?.immediate_next_steps),\n  success_metrics: safeJoin($json.outputResult?.success_metrics),\n  decision_timeline: $json.outputResult?.decision_timeline || '',\n\n  // Business Case\n  opportunity_size: $json.outputResult?.business_case?.opportunity_size || '',\n  competitive_advantage: $json.outputResult?.business_case?.competitive_advantage || '',\n  resource_investment: $json.outputResult?.business_case?.resource_investment || '',\n  expected_roi: $json.outputResult?.business_case?.expected_roi || '',\n  strategic_alignment: $json.outputResult?.strategic_alignment || '',\n\n  // Risk Management\n  risk_mitigation_strategies: safeJoin($json.outputResult?.risk_mitigation_plan?.map(r => `${r.risk}: ${r.mitigation}`)),\n  high_priority_risks: safeJoin($json.outputResult?.risk_mitigation_plan?.filter(r => r.impact === 'High')?.map(r => r.risk)),\n\n  // Input Constraints & Context\n  original_constraints: $json.constraints || '',\n  timeline_preference: $json.timelinePreference || '',\n\n  // Analysis Metadata\n  total_features_identified: (($json.roadmapResult?.mvp_features?.length || 0) + \n                              ($json.roadmapResult?.phase2_features?.length || 0) + \n                              ($json.roadmapResult?.phase3_features?.length || 0)),\n  analysis_confidence: $json.priorityResult?.confidence_level || 'Medium',\n\n  // Formatted Summaries for Quick Review\n  quick_summary: `${$json.priorityResult?.priority_tier || 'Medium'} Priority (Score: ${$json.priorityResult?.calculated_score || 0}) - ${$json.outputResult?.recommendation || 'Review'}`,\n  roadmap_summary: $json.roadmapResult?.roadmap_summary || 'Roadmap analysis pending',\n  overall_assessment: `Market: ${$json.marketResult?.attractiveness_score || 0}/10, Priority: ${$json.priorityResult?.priority_tier || 'Medium'}, Recommendation: ${$json.outputResult?.recommendation || 'Review'}`\n};\n\n// Add workflow metadata\nfinalOutput.workflow_version = '2.0';\nfinalOutput.agent_model = 'gemini-2.0-flash-exp';\nfinalOutput.processing_status = 'Complete';\n\nreturn [{ json: finalOutput }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2224,
        48
      ],
      "id": "9999e7af-d517-4489-a335-1c5e44f47ea5",
      "name": "Format Output"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1lwJXthZ-685Jl7RUqgdgoJuDxf7REXhmEWB50AlWlPI",
          "mode": "list",
          "cachedResultName": "Mike AI Agent - Ideation and Product Priority",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwJXthZ-685Jl7RUqgdgoJuDxf7REXhmEWB50AlWlPI/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 432965560,
          "mode": "list",
          "cachedResultName": "Output Sheet",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1lwJXthZ-685Jl7RUqgdgoJuDxf7REXhmEWB50AlWlPI/edit#gid=432965560"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "idea_id": "={{ $json.idea_id }}",
            "refined_idea": "={{ $json.executive_summary }}",
            "market_analysis": "={{ $json.key_insights }}",
            "priority_score": "={{ $json.priority_score }}",
            "roadmap_phase": "={{ $json.immediate_next_steps }}",
            "success_metrics": "={{ $json.success_metrics }}",
            "effort_estimate": "={{ $json.decision_timeline }}",
            "business_value": "={{ $json.opportunity_size }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "idea_id",
              "displayName": "idea_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "refined_idea",
              "displayName": "refined_idea",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "market_analysis",
              "displayName": "market_analysis",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "priority_score",
              "displayName": "priority_score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "roadmap_phase",
              "displayName": "roadmap_phase",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "success_metrics",
              "displayName": "success_metrics",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "effort_estimate",
              "displayName": "effort_estimate",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "business_value",
              "displayName": "business_value",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        2432,
        48
      ],
      "id": "542e2191-67f1-4598-a867-1d1f788c8332",
      "name": "Append row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "IVs93i7wvlj0KViG",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Google Sheets Trigger": {
      "main": [
        [
          {
            "node": "Input Validation Node",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Ideation",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model1": {
      "ai_languageModel": [
        [
          {
            "node": "Market Research",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Market Research": {
      "main": [
        [
          {
            "node": "Market research Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model2": {
      "ai_languageModel": [
        [
          {
            "node": "Prioritization Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Prioritization Agent": {
      "main": [
        [
          {
            "node": "Prioritization output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "Roadmap agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Roadmap agent": {
      "main": [
        [
          {
            "node": "Roadmap Agent Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Validation Node": {
      "main": [
        [
          {
            "node": "Ideation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideation": {
      "main": [
        [
          {
            "node": "Ideation Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ideation Output": {
      "main": [
        [
          {
            "node": "Market Research",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Market research Output": {
      "main": [
        [
          {
            "node": "Prioritization Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prioritization output": {
      "main": [
        [
          {
            "node": "Roadmap agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Roadmap Agent Output": {
      "main": [
        [
          {
            "node": "Output formating agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "Output formating agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Output formating agent": {
      "main": [
        [
          {
            "node": "Parse Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Output": {
      "main": [
        [
          {
            "node": "Format Output",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Output": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "8f953f4c-579c-4a39-b51c-3d2b73051046",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "e61798d95b2ce727c74f9d9f3c14364de823c25519d91fa844229a80ae1380cb"
  },
  "id": "wkCuLj74iq4JlXIio1IRv",
  "tags": []
}